# 声明构建语言环境
language: node_js

# nodejs语言版本
node_js:
  - "8"

# 缓存
# cache: yarn

# 执行测试脚本，未开启
script:
  - npm run build

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: "oakeditor"
  region: "ap-northeast-1"
  skip_cleanup: true
  on:
    branch: master # 值部署主分支
  local_dir: build #只部署有关文件夹
  upload-dir: travis-builds #只部署到S3上对应的文件夹

# 部署之后
after_deploy:
  - echo "done deploying"