# 声明构建语言环境
language: node_js

# nodejs语言版本
node_js:
  - "8"

#缓存
cache: yarn

# 安装
install:
  - yarn

# 执行脚本
script:
  - yarn run build

# TravisCI提供现有的s3 provider不支持部署时s3文件，未来会加上，见https://github.com/travis-ci/dpl/pull/472
# $AWS_ACCESS_KEY和$AWS_SECRET_KEY在C盘.aws文件中，或者在console后台
# deploy:
#   provider: s3 --detetion
  # access_key_id: $AWS_ACCESS_KEY
  # secret_access_key: $AWS_SECRET_KEY
#   bucket: "oakeditor"
#   region: "ap-northeast-1"
#   skip_cleanup: true
#   on:
#     branch: master # 值部署主分支
#   local_dir: build #只部署有关文件夹

# 临时解决方案，使用自定义脚本部署：Deploy using awscli to enable pruning of removed files
# 见：https://stackoverflow.com/questions/30808227/how-can-i-clear-s3-bucket-before-travis-deploy?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa
before_deploy: pip install --user awscli

deploy:
  provider: script
  script: ~/.local/bin/aws s3 sync build s3://oakeditor --region=ap-northeast-1 --delete      
  skip_cleanup: true
  on:
    branch: master

# 部署之后
after_deploy:
  - echo "done deploying"
